<%@ page import="com.askoverflow.Question" %>


<div class="fieldcontain ${hasErrors(bean: questionInstance, field: 'title', 'error')} required">
    <label for="title">
        <g:message code="question.title.label" default="Title" />
        <span class="required-indicator">*</span>
    </label>
    <g:textField name="title" required="" value="${questionInstance?.title}"/>

</div>

<div class="fieldcontain ${hasErrors(bean: questionInstance, field: 'content', 'error')} required">
    <label for="content">
        <g:message code="question.content.label" default="Content" />
        <span class="required-indicator">*</span>
    </label>
    <g:textArea name="content" required="" value="${questionInstance?.content}"/>

</div>

<g:hiddenField id="author" name="author.id" value="${questionInstance?.author.id}" class="many-to-one" />

<div class="fieldcontain ${hasErrors(bean: questionInstance, field: 'tags', 'error')} ">
    <label for="tags">
        <g:message code="question.tags.label" default="Tags" />
        
    </label>
    <g:select name="tags" from="${com.askoverflow.Tag.list()}" multiple="multiple" optionKey="id" size="5" value="${questionInstance?.tags*.id}" class="many-to-many"/>

</div>
